<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons>
        <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <body>
    <ion-card *ngIf="!loading">
      <ion-card-header style="padding-top: 100px;">
        <ion-card-title>{{ filmi.title }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <span class="date">
          <ion-note>Fecha de lanzamiento:{{ filmi.release_date }}</ion-note>
        </span>
        <p></p>
        {{ filmi.overview }}
        <h2> Idiomas: </h2>
        <p *ngFor="let language of languages"> {{ language.english_name }}  </p>
      </ion-card-content>
    </ion-card>
</body>